*{
    font-family: 'Poppins';
}


.header-nav{
    margin-left: auto;
    display: block;
    padding: 10px;
    margin-right: 15px;
}


.title{
    font-size: 2rem;
    font-weight: 400;
}

.logo{
    border-radius: 50%;
    max-width: 60px;
    padding: 5px;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}