*{
    font-family: 'Poppins';
}


.header-nav{
    margin-left: auto;
    display: block;
    padding: 10px;
    margin-right: 15px;
}

.title{
    font-size: 2rem;
    font-weight: 400;
}

.logo{
    border-radius: 50%;
    max-width: 60px;
    padding: 5px;
}